.apply-container {
  max-width: 600px;
  margin: 40px auto;
  background: url('images/image.png') no-repeat center center;
  background-size: cover;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  backdrop-filter: blur(4px);
}


.apply-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.apply-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.apply-form label {
  font-weight: bold;
  color: #444;
}

.apply-form input,
.apply-form select,
.apply-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.apply-form button {
  background-color: #5E936C;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.apply-form button:hover {
  background-color: #E8FFD7;
}
